@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
/**
 * @file
 *** FOUNDATION FOR SITES AND CUSTOM MIXINS
 */
/**
 * @group Foundation for Sites mixins
 * Mixins placeholder file
 * @todo These are mostly from Foundation and should be removed and used straight from Foundation.
 */
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

/**
 * Horizontally or vertically aligns the items within a flex container.
 *
 * @param {Keyword} $x [null] - Horizontal alignment to use. Can be `left`,
 * `right`, `center`, `justify`, or `spaced`. Or, set it to `null`
 * (the default) to not set horizontal alignment.
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Vertically align a single column within a flex row. Apply this mixin to a
 * flex column.
 *
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Changes the source order of a flex child. Children with lower numbers appear
 * first in the layout.
 *
 * @param {Number} $order [0] - Order number to apply.
 */
/**
 * Change flex-direction
 *
 * @param {Keyword} $direction [row] - Flex direction to use. Can be
 * - row (default): same as text direction
 * - row-reverse: opposite to text direction
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse top to bottom
 */
/**
 * @include flex-wrap(nowrap | wrap | wrap-reverse);
 * Default: nowrap
 */
/**
 * @include flex-flow(values);
 * Default: row nowrap
 */
/**
 * @include order(int);
 * Default: 0
 */
/**
 * @include flex-grow(int);
 * Default: 1
 */
/**
 * @include flex-shrink(int);
 * Default: 0
 */
/**
 * @include flex-basis(int);
 * Default: auto
 */
/**
 * @include justify-content(flex-start | flex-end | center | space-between
 * | space-around);
 * Default: flex-start
 */
/**
 * @include align-items(flex-start | flex-end | center | baseline | stretch);
 * Default: stretch
 */
/**
 * @include align-self(auto | flex-start | flex-end | center | baseline | stretch);
 * Default: auto
 */
/**
 * @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);
 * Default: stretch
 */
body.media--view .container,
body.path-admin .container,
body.path-frontpage .container
{
    width: 100% !important;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.media--view .view-media-library,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.path-admin .view-media-library,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.path-frontpage .view-media-library
{
    position: relative;

    margin: 0 auto;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
body.media--view .view-media-library .views-row,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
body.path-admin .view-media-library .views-row,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
body.path-frontpage .view-media-library .views-row
{
    position: relative;

    width: 16.3vw;
    height: 11.6vw;
    margin-bottom: -10px;

    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-bottom: 10px solid #fff;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card,
body.media--view .view-media-library .views-row .card,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card,
body.path-admin .view-media-library .views-row .card,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card,
body.path-frontpage .view-media-library .views-row .card
{
    border: none;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media,
body.media--view .view-media-library .views-row .card.card-inverse.card--media,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media,
body.path-admin .view-media-library .views-row .card.card-inverse.card--media,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media,
body.path-frontpage .view-media-library .views-row .card.card-inverse.card--media
{
    position: relative;

    width: 100%;
    height: 100%;

    background-color: #e2e2e2;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.media--view .view-media-library .views-row .card.card-inverse.card--media .spotlight-group,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.path-admin .view-media-library .views-row .card.card-inverse.card--media .spotlight-group,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group,
body.path-frontpage .view-media-library .views-row .card.card-inverse.card--media .spotlight-group
{
    height: 100%;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.media--view .view-media-library .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-admin .view-media-library .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media .spotlight-group a,
body.path-frontpage .view-media-library .views-row .card.card-inverse.card--media .spotlight-group a
{
    display: block;

    height: 100%;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
body.media--view .view-media-library .views-row .card.card-inverse.card--media img,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
body.path-admin .view-media-library .views-row .card.card-inverse.card--media img,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
body.path-frontpage .view-media-library .views-row .card.card-inverse.card--media img
{
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: auto;
    height: auto;

    -webkit-transform: translate(-50%, -50%) !important;
        -ms-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content,
body.media--view .view-media-library .views-row .card-content,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content,
body.path-admin .view-media-library .views-row .card-content,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content,
body.path-frontpage .view-media-library .views-row .card-content
{
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: transparent;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-img-overlay,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-img-overlay,
body.media--view .view-media-library .views-row .card-content .card-img-overlay,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-img-overlay,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-img-overlay,
body.path-admin .view-media-library .views-row .card-content .card-img-overlay,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-img-overlay,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-img-overlay,
body.path-frontpage .view-media-library .views-row .card-content .card-img-overlay
{
    z-index: 999;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .btn-sm,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .btn-sm,
body.media--view .view-media-library .views-row .card-content .btn-sm,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .btn-sm,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .btn-sm,
body.path-admin .view-media-library .views-row .card-content .btn-sm,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .btn-sm,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .btn-sm,
body.path-frontpage .view-media-library .views-row .card-content .btn-sm
{
    z-index: 9999;

    float: right;

    min-width: 33px;

    -webkit-transition: opacity 250ms ease-in;
            transition: opacity 250ms ease-in;

    opacity: 0;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content h4,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content h4,
body.media--view .view-media-library .views-row .card-content h4,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content h4,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content h4,
body.path-admin .view-media-library .views-row .card-content h4,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content h4,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content h4,
body.path-frontpage .view-media-library .views-row .card-content h4
{
    font-size: 14px;

    -webkit-transition: opacity 250ms ease-in;
            transition: opacity 250ms ease-in;

    opacity: 0;
    color: #fff;

    overflow-wrap: break-word;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-text,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-text,
body.media--view .view-media-library .views-row .card-content .card-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-text,
body.path-admin .view-media-library .views-row .card-content .card-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card-text,
body.path-frontpage .view-media-library .views-row .card-content .card-text
{
    -webkit-transition: opacity 250ms ease-in;
            transition: opacity 250ms ease-in;

    opacity: 0;
    color: #fff;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover,
body.media--view .view-media-library .views-row .card-content:hover,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover,
body.path-admin .view-media-library .views-row .card-content:hover,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover,
body.path-frontpage .view-media-library .views-row .card-content:hover
{
    background: rgba(0, 0, 0, .5);
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .btn-sm,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .btn-sm,
body.media--view .view-media-library .views-row .card-content:hover .btn-sm,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .btn-sm,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .btn-sm,
body.path-admin .view-media-library .views-row .card-content:hover .btn-sm,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .btn-sm,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .btn-sm,
body.path-frontpage .view-media-library .views-row .card-content:hover .btn-sm
{
    opacity: 1;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover h4,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover h4,
body.media--view .view-media-library .views-row .card-content:hover h4,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover h4,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover h4,
body.path-admin .view-media-library .views-row .card-content:hover h4,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover h4,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover h4,
body.path-frontpage .view-media-library .views-row .card-content:hover h4
{
    opacity: 1;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .card-text,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .card-text,
body.media--view .view-media-library .views-row .card-content:hover .card-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .card-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .card-text,
body.path-admin .view-media-library .views-row .card-content:hover .card-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content:hover .card-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content:hover .card-text,
body.path-frontpage .view-media-library .views-row .card-content:hover .card-text
{
    opacity: 1;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .media-category,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .media-category,
body.media--view .view-media-library .views-row .card-content .media-category,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .media-category,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .media-category,
body.path-admin .view-media-library .views-row .card-content .media-category,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .media-category,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .media-category,
body.path-frontpage .view-media-library .views-row .card-content .media-category
{
    display: block;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card--inner-text,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card--inner-text,
body.media--view .view-media-library .views-row .card-content .card--inner-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card--inner-text,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card--inner-text,
body.path-admin .view-media-library .views-row .card-content .card--inner-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card-content .card--inner-text,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card-content .card--inner-text,
body.path-frontpage .view-media-library .views-row .card-content .card--inner-text
{
    position: relative;
    top: 100%;

    display: block;

    width: 100%;
    padding: 15px;

    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

@media (min-width: 992px) and (max-width: 1247px)
{
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.media--view .view-media-library .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-admin .view-media-library .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-frontpage .view-media-library .views-row
    {
        width: 19vw;
        height: 14vw;
    }
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row img,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row img,
    body.media--view .view-media-library .views-row img,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row img,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row img,
    body.path-admin .view-media-library .views-row img,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row img,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row img,
    body.path-frontpage .view-media-library .views-row img
    {
        max-height: 130px;
    }
}

@media (max-width: 992px)
{
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.media--view .view-media-library .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-admin .view-media-library .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-frontpage .view-media-library .views-row
    {
        position: relative;

        display: block;

        width: 23vw;
        height: 17.3vw;
        margin-bottom: -10px;

        border-top: 10px solid #fff;
        border-right: 10px solid #fff;
        border-bottom: 10px solid #fff;
    }
}

body.media--view .useage-overlay-wrapper,
body.path-admin .useage-overlay-wrapper,
body.path-frontpage .useage-overlay-wrapper
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity 2s ease-out;
            transition: opacity 2s ease-out;

    opacity: 0;
    background: rgba(0, 0, 0, .43);
}

body.media--view .useage-overlay-wrapper.visible,
body.path-admin .useage-overlay-wrapper.visible,
body.path-frontpage .useage-overlay-wrapper.visible
{
    display: block;

    opacity: 1;
}

body.media--view .useage-overlay-wrapper .overlay-content,
body.path-admin .useage-overlay-wrapper .overlay-content,
body.path-frontpage .useage-overlay-wrapper .overlay-content
{
    position: relative;
    top: 50%;

    width: 70%;
    margin: 0 auto;
    padding: 50px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background: white;
    box-shadow: 4px 5px 11px -4px black;
}

body.media--view .useage-overlay-wrapper .overlay-content span.close,
body.path-admin .useage-overlay-wrapper .overlay-content span.close,
body.path-frontpage .useage-overlay-wrapper .overlay-content span.close
{
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;

    opacity: .45;
    color: black;
}

body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.media--view #block-damo-theme-exposed-asset-search-form,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.path-admin #block-damo-theme-exposed-asset-search-form,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
body.path-frontpage #block-damo-theme-exposed-asset-search-form
{
    z-index: 999;

    padding-left: 38px;

    border-radius: 0;
}

@media (min-width: 576px)
{
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
    body.media--view #block-damo-theme-exposed-asset-search-form,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
    body.path-admin #block-damo-theme-exposed-asset-search-form,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
    body.path-frontpage #block-damo-theme-exposed-asset-search-form
    {
        border-radius: 50px;
    }
}

body.media--view .form-group,
body.path-admin .form-group,
body.path-frontpage .form-group
{
    margin-bottom: 15px;
}

body.media--view .view-header,
body.path-admin .view-header,
body.path-frontpage .view-header
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    max-width: 1031px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 37px;

    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #a2a2a2;
}

@media (min-width: 576px)
{
    body.media--view .view-header,
    body.path-admin .view-header,
    body.path-frontpage .view-header
    {
        margin-top: -41px;

        text-align: left;
    }
}

@media (max-width: 575px)
{
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .view-content,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .view-content,
    body.media--view .view-media-library .view-content,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .view-content,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .view-content,
    body.path-admin .view-media-library .view-content,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .view-content,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .view-content,
    body.path-frontpage .view-media-library .view-content
    {
        width: 325px;
        margin: 0 auto;
    }
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.media--view .view-media-library .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-admin .view-media-library .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-frontpage .view-media-library .views-row
    {
        width: 320px;
        height: 225px;
        margin: 0 auto;
    }
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.media--view .view-media-library .views-row .card.card-inverse.card--media img,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.path-admin .view-media-library .views-row .card.card-inverse.card--media img,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row .card.card-inverse.card--media img,
    body.path-frontpage .view-media-library .views-row .card.card-inverse.card--media img
    {
        max-height: 225px;
    }
}

@media (min-width: 1247px) and (max-width: 1600px)
{
    body.media--view .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.media--view .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.media--view .view-media-library .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-admin .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-admin .view-media-library .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .views-row,
    body.path-frontpage .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .views-row,
    body.path-frontpage .view-media-library .views-row
    {
        height: 11.9vw;
    }
}

body.media--view .col-sm-12,
body.path-admin .col-sm-12,
body.path-frontpage .col-sm-12
{
    padding: 0;
}

body.path-admin .col-sm-12
{
    padding: 0 15px;
}

body.no-filter .bef-exposed-form
{
    display: none;
}

body.no-filter .header-background
{
    height: auto;
}

body.no-filter .usage-wrapper
{
    margin-top: 85px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets
{
    top: 20px;

    margin: 0 auto 40px auto !important;
}
