@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
/**
 * @file
 *** FOUNDATION FOR SITES AND CUSTOM MIXINS
 */
/**
 * @group Foundation for Sites mixins
 * Mixins placeholder file
 * @todo These are mostly from Foundation and should be removed and used straight from Foundation.
 */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

/**
 * Horizontally or vertically aligns the items within a flex container.
 *
 * @param {Keyword} $x [null] - Horizontal alignment to use. Can be `left`,
 * `right`, `center`, `justify`, or `spaced`. Or, set it to `null`
 * (the default) to not set horizontal alignment.
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Vertically align a single column within a flex row. Apply this mixin to a
 * flex column.
 *
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Changes the source order of a flex child. Children with lower numbers appear
 * first in the layout.
 *
 * @param {Number} $order [0] - Order number to apply.
 */
/**
 * Change flex-direction
 *
 * @param {Keyword} $direction [row] - Flex direction to use. Can be
 * - row (default): same as text direction
 * - row-reverse: opposite to text direction
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse top to bottom
 */
/**
 * @include flex-wrap(nowrap | wrap | wrap-reverse);
 * Default: nowrap
 */
/**
 * @include flex-flow(values);
 * Default: row nowrap
 */
/**
 * @include order(int);
 * Default: 0
 */
/**
 * @include flex-grow(int);
 * Default: 1
 */
/**
 * @include flex-shrink(int);
 * Default: 0
 */
/**
 * @include flex-basis(int);
 * Default: auto
 */
/**
 * @include justify-content(flex-start | flex-end | center | space-between
 * | space-around);
 * Default: flex-start
 */
/**
 * @include align-items(flex-start | flex-end | center | baseline | stretch);
 * Default: stretch
 */
/**
 * @include align-self(auto | flex-start | flex-end | center | baseline | stretch);
 * Default: auto
 */
/**
 * @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);
 * Default: stretch
 */
/**
 * @file
 *** FOUNDATION FOR SITES AND CUSTOM MIXINS
 */
/**
 * @group Foundation for Sites mixins
 * Mixins placeholder file
 * @todo These are mostly from Foundation and should be removed and used straight from Foundation.
 */
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

/**
 * Horizontally or vertically aligns the items within a flex container.
 *
 * @param {Keyword} $x [null] - Horizontal alignment to use. Can be `left`,
 * `right`, `center`, `justify`, or `spaced`. Or, set it to `null`
 * (the default) to not set horizontal alignment.
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Vertically align a single column within a flex row. Apply this mixin to a
 * flex column.
 *
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Changes the source order of a flex child. Children with lower numbers appear
 * first in the layout.
 *
 * @param {Number} $order [0] - Order number to apply.
 */
/**
 * Change flex-direction
 *
 * @param {Keyword} $direction [row] - Flex direction to use. Can be
 * - row (default): same as text direction
 * - row-reverse: opposite to text direction
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse top to bottom
 */
/**
 * @include flex-wrap(nowrap | wrap | wrap-reverse);
 * Default: nowrap
 */
/**
 * @include flex-flow(values);
 * Default: row nowrap
 */
/**
 * @include order(int);
 * Default: 0
 */
/**
 * @include flex-grow(int);
 * Default: 1
 */
/**
 * @include flex-shrink(int);
 * Default: 0
 */
/**
 * @include flex-basis(int);
 * Default: auto
 */
/**
 * @include justify-content(flex-start | flex-end | center | space-between
 * | space-around);
 * Default: flex-start
 */
/**
 * @include align-items(flex-start | flex-end | center | baseline | stretch);
 * Default: stretch
 */
/**
 * @include align-self(auto | flex-start | flex-end | center | baseline | stretch);
 * Default: auto
 */
/**
 * @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);
 * Default: stretch
 */
.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .form-item #edit-text,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .form-item #edit-text,
.block-views-exposed-filter-blockasset-search-asset-search form .form-item #edit-text
{
    color: #4f545c;
    border-radius: 30px;
    background: #f1f1f1;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .form-item #edit-text:focus,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .form-item #edit-text:focus,
.block-views-exposed-filter-blockasset-search-asset-search form .form-item #edit-text:focus
{
    border: 1px solid #56ace7;
    box-shadow: 0 0 0 1px #56ace7;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form i,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form i,
.block-views-exposed-filter-blockasset-search-asset-search form i
{
    display: none;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .js-form-type-textfield,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .js-form-type-textfield,
.block-views-exposed-filter-blockasset-search-asset-search form .js-form-type-textfield
{
    width: 100%;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper
{
    position: relative;

    min-width: 400px;
    margin-right: 70px;
    /*      &.focused {
        i {
          background-color: #56ACE7;
          color: white;
        }
      }*/
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper input,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper input,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper input
{
    font-size: 20px;

    padding: 5px 80px 5px 20px;

    border-radius: 20px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper .svg-holder,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper .svg-holder,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper .svg-holder
{
    position: absolute;
    top: 0;
    right: 0;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 80px;
    height: 40px;
    padding: 0 12px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    border-radius: 20px;
    background-color: #e2e2e2;
    box-shadow: 0 1px 7px rgba(0, 0, 0, .29);

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper svg,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper svg,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper svg
{
    display: block;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    fill: #000;
    /*-webkit-transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;
        transition: background-color ease-in-out 0.15s, color ease-in-out 0.15s;*/
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper input:focus ~ .svg-holder,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper input:focus ~ .svg-holder,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper input:focus ~ .svg-holder
{
    background-color: #4cbac6;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets form .search-wrapper input:focus ~ .svg-holder svg,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets form .search-wrapper input:focus ~ .svg-holder svg,
.block-views-exposed-filter-blockasset-search-asset-search form .search-wrapper input:focus ~ .svg-holder svg
{
    fill: #e2e2e2;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .js-form-item-category,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .js-form-item-category,
#views-exposed-form-asset-search-asset-search .js-form-item-category
{
    position: relative;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media (min-width: 576px)
{
    .block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .js-form-item-category,
    .block-views-exposed-filter-blockunpublished-assets-unpublished-assets .js-form-item-category,
    #views-exposed-form-asset-search-asset-search .js-form-item-category
    {
        position: relative;
        left: 0;

        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper,
#views-exposed-form-asset-search-asset-search .select-wrapper
{
    margin-top: 7px;
    padding-left: 10px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper::after,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper::after,
#views-exposed-form-asset-search-asset-search .select-wrapper::after
{
    display: none;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper select,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper select,
#views-exposed-form-asset-search-asset-search .select-wrapper select
{
    display: none;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select
{
    width: 200px;
    height: 42px;

    border-radius: 30px;
    background: #f1f1f1;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select ul,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select ul,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select ul
{
    overflow-y: auto;

    max-height: 400px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select:after,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select:after,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select:after
{
    margin-top: -3px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .current,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .current,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .current
{
    overflow: hidden;

    text-overflow: ellipsis;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .option,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .option,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .option
{
    font-family: 'Montserrat', sans-serif;
    font-size: 13.6px;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;

    overflow: hidden;

    text-overflow: ellipsis;

    color: #6b6b6b;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .option:hover,
.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .option.focus,
.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .option.selected.focus,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .option:hover,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .option.focus,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .option.selected.focus,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .option:hover,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .option.focus,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .option.selected.focus
{
    background-color: #f6f6f6;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select .option.selected.focus,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select .option.selected.focus,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select .option.selected.focus
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select span,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select span,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select span
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    display: block;

    margin-top: -8px;
    padding: 19px 0;

    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #333;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .select-wrapper .nice-select ul.list,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .select-wrapper .nice-select ul.list,
#views-exposed-form-asset-search-asset-search .select-wrapper .nice-select ul.list
{
    width: 200px;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .exposed_form_reset,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .exposed_form_reset,
#views-exposed-form-asset-search-asset-search .exposed_form_reset
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    position: absolute;
    right: 0;

    width: 200px;
    margin-top: 87px;
    padding: 8px 5px 8px 5px;

    cursor: pointer;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #363636;
    border: 1px solid #d2d2d2;
    border-radius: 23px;
    background: white;
}

.block-views-exposed-filter-blockunpublished-assets-user-unpublished-assets .exposed_form_reset i,
.block-views-exposed-filter-blockunpublished-assets-unpublished-assets .exposed_form_reset i,
#views-exposed-form-asset-search-asset-search .exposed_form_reset i
{
    display: block;
    float: left;

    padding-left: 10px;
}

/*.views-exposed-form {
  position: relative;
  z-index: 10;
  max-width: 1140px;
}*/
#block-exposedformunpublished-assetsuser-unpublished-assets .select-wrapper,
#views-exposed-form-unpublished-assets-unpublished-assets .select-wrapper
{
    width: auto;
}

#block-exposedformunpublished-assetsuser-unpublished-assets .select-wrapper:after,
#views-exposed-form-unpublished-assets-unpublished-assets .select-wrapper:after
{
    display: none;
}

#block-exposedformunpublished-assetsuser-unpublished-assets .nice-select,
#views-exposed-form-unpublished-assets-unpublished-assets .nice-select
{
    line-height: 30px;

    top: 10px;

    margin-right: 30px;
}

#block-exposedformunpublished-assetsuser-unpublished-assets .form-item,
#views-exposed-form-unpublished-assets-unpublished-assets .form-item
{
    width: auto;
}

#block-exposedformunpublished-assetsuser-unpublished-assets .form-item label,
#views-exposed-form-unpublished-assets-unpublished-assets .form-item label
{
    position: relative;
    top: -4px;
}

#block-exposedformunpublished-assetsuser-unpublished-assets #edit-actions,
#views-exposed-form-unpublished-assets-unpublished-assets #edit-actions
{
    float: right;
}

#block-exposedformunpublished-assetsuser-unpublished-assets #edit-actions .form-submit,
#views-exposed-form-unpublished-assets-unpublished-assets #edit-actions .form-submit
{
    font-size: 14px;

    padding: 12px 20px;

    border-radius: 40px;
}

/*@media (max-width: 1340px) {
  .dam-local-task-extension-wrapper {
    position: relative;
    top: 0;
    float: right;
    width: 100%;
    left: 0;
    transform: translateX(0);
    padding-top: 25px;
    a {
      display: inline-block;
      max-width: 175px;
    }
  }
}

@media (max-width: 452px) {
  .dam-local-task-back-button {
    .dam-add-media-asset-link {
      float: none;
      margin: 0 auto;
      display: block;
    }
  }
  .dam-local-task-extension-wrapper {
    .dam-add-media-asset-link {
      float: none;
      margin: 0 auto;
      display: block;
    }
  }
  .dam-local-task-extension-wrapper {
    .dam-media-collection-link {
      float: none;
      margin: 0 auto;
      display: block;
    }
  }
}*/
/*.dam-logo {
  position: absolute;
  top: 0px;
  z-index: 999;
  margin-left: 20px;

  a {
    padding-top: 0px;
    margin-top: -1px;
  }

  img {
    width: 150px;
  }
}*/
.dam-logo
{
    position: relative;

    margin-right: auto;
}

@media (max-width: 1390px)
{
    .dam-logo
    {
        position: relative;

        display: block;

        height: 90px;
        /*float: left;*/
    }
    .dam-logo a
    {
        display: block;
    }
}

/*
@media (max-width: 991px) {
  .dam-logo {
    float: none;
  }
}*/
@media (max-width: 975px)
{
    .adminimal-admin-toolbar #toolbar-administration
    {
        height: 39px;
    }
}

.admin-navigation
{
    background-color: #3e4242;
}

.admin-navigation--inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    max-width: 1300px;
    height: 43px;
    margin: 0 auto;

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
            justify-content: space-between;
}

.admin-navigation--inner a,
.admin-navigation--inner .user-menu
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    padding: 0 20px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    color: #f5f5f5;

    font-optical-sizing: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.admin-navigation--inner a svg,
.admin-navigation--inner .user-menu svg
{
    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;

    fill: #f5f5f5;
}

.admin-navigation--inner a.active,
.admin-navigation--inner a:hover,
.admin-navigation--inner .user-menu.active,
.admin-navigation--inner .user-menu:hover
{
    color: #4cbac6;
}

.admin-navigation--inner a.active svg,
.admin-navigation--inner a:hover svg,
.admin-navigation--inner .user-menu.active svg,
.admin-navigation--inner .user-menu:hover svg
{
    fill: #4cbac6;
}

.admin-navigation--inner .button-border
{
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .2);
}

.admin-navigation--inner .user-menu
{
    position: relative;

    cursor: pointer;
}

.admin-navigation--inner .user-menu svg
{
    margin-left: 7px;
}

.admin-navigation--inner .user-menu--dropdown
{
    position: absolute;
    z-index: 999;
    top: 100%;
    right: 0;

    display: none;

    width: 110%;
    padding: 0 0 10px;

    list-style: none;

    background-color: #3e4242;
    box-shadow: 0 6px 7px rgba(0, 0, 0, .29);
}

.admin-navigation--inner .user-menu--dropdown.active
{
    display: block;
}

.admin-navigation--inner .user-menu--dropdown a
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    width: 100%;
    padding: 5px 20px;

    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
            justify-content: flex-end;
}

.navbar
{
    position: relative;

    height: 75px;

    background-color: #333738;
}

.navbar .header-background
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow: hidden;

    background-color: #333738;
}

.navbar .header-video
{
    position: absolute;
    z-index: -100;
    top: 50%;
    left: 50%;

    width: auto;
    max-width: none;
    height: auto;
    min-height: 200px;

    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

    background: url('../images/header.jpg') no-repeat center center;
    background-size: cover;
}

@media (min-width: 768px)
{
    .navbar .header-video
    {
        width: 100%;
    }
}

.navbar .header-slope
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 15%;
    min-height: 50px;

    fill: #fff;
}

.navbar .page-title-wrapper .title-prefix
{
    font-size: 55px;
    font-size: 1.5rem;
    font-weight: bold;

    color: white;
}

@media (min-width: 768px)
{
    .navbar .page-title-wrapper .title-prefix
    {
        font-size: 2.5rem;

        letter-spacing: -1px;
    }
}

.navbar .title-prefix,
.navbar .title-suffix
{
    font-size: 1.25rem;

    color: #fff;
}

/*.page-header {
  color: white;
  font-size: 55px;
  font-size: 1.5rem;
  max-width: 1124px;
  margin: 0 auto;
  padding-bottom: 25px;

  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}*/
.block-page-title-block
{
    position: relative;
    z-index: 1;

    display: table;
}

.page-title-wrapper
{
    display: block;

    text-align: center;
    vertical-align: middle;
}

@media (min-width: 992px)
{
    .page-title-wrapper
    {
        text-align: left;
    }
}

.navbar-nav
{
    margin: 0;
}

.navbar-nav .nav-item + .nav-item
{
    margin: 0;
}

.navbar-nav .nav-item.active
{
    font-weight: bold;
}

.navbar-nav .nav-item:not(.active) .nav-link:hover
{
    border-bottom-color: #fff;
}

.navbar-nav .nav-link
{
    margin: .5rem 1rem;
    padding: .5rem 0;

    -webkit-transition: border-bottom .2s;
            transition: border-bottom .2s;

    color: #fff;
    border-bottom: 2px solid transparent;
}

header.navbar
{
    position: relative;

    height: auto;
    min-height: 70px;
    /*    .header-background {
      @include headerBackground;
      background-position: 0 -60%;
      background-size: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include headerBackground;
      }
    }*/
}

header.navbar .header-slope
{
    fill: #ebebeb;
}

header.navbar .header--inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    max-width: 1300px;
    height: 70px;
    margin: 0 auto;

    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

header .form-group,
header .form-actions,
header .form-wrapper:not(.field--widget-options-buttons):not(.fieldgroup),
header .form-text
{
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.fancy-logo
{
    pointer-events: none;
}

.block-dam-navigation-block
{
    pointer-events: none;
}

.block-dam-navigation-block > div
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.block-dam-navigation-block a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-weight: bold;
    font-style: normal;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    height: 40px;
    padding: 8px 15px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    pointer-events: all;

    color: #fff;
    border-radius: 21px;

    font-optical-sizing: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
}

.block-dam-navigation-block a:hover
{
    opacity: .8;
}

.block-dam-navigation-block .dam-local-task-back-button
{
    display: none;

    margin-left: 10px;
}

.media--view .block-dam-navigation-block .dam-local-task-back-button
{
    display: block;
}

.block-dam-navigation-block .dam-local-task-back-button a
{
    border: 1px solid rgba(255, 255, 255, .5);
}

.dam-local-task-extension-wrapper
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

.dam-local-task-extension-wrapper .dam-add-media-asset-link
{
    background-color: #4cbac6;
}

.dam-local-task-extension-wrapper .dam-add-media-asset-link::before
{
    width: 24px;
    height: 24px;
    margin-right: 2px;

    content: '';

    background-image: url('../images/plus_icon.svg');
    background-repeat: no-repeat;
    background-size: 24px;
}

.dam-local-task-extension-wrapper .dam-media-collection-link
{
    margin-left: 10px;
}

.dam-local-task-extension-wrapper .dam-media-collection-link.collection-header-empty
{
    background-color: rgba(76, 186, 198, .5);
}

/*
.dam-local-task-back-button,
.dam-local-task-extension-wrapper {
  .dam-add-media-asset-link {

  }
  .dam-media-collection-link {

  }
  line-height: 12px;
  font-size: 11px;
  z-index: 999;
  a {
    @include buttonColor1;
    padding: 15px 35px;
    border-radius: 4px;
    margin-right: 40px;
    color: #fff;
    transition: background-color 150ms linear;

    &:hover {
      @include buttonColor1Hover;
      color: #fff;
    }
  }
}


@media(max-width: 1199px) {
  header.navbar {
    .header-background {
      background-position: 0;
    }
  }
  .page-header {
    text-align: center;
  }
  #block-damo-theme-assets-navigation {
    ul {
      max-width: 960px;
    }
  }

  .dam-local-task-extension-wrapper {
    width: 960px;
  }
  .views-exposed-form {
    max-width: 960px;
  }
}

@media(max-width: 991px) {
  .dam-local-task-extension-wrapper {
    width: 720px;
    padding: 17px;
    margin-top: 5px;
    top: 0;
    position: relative;
  }
  .views-exposed-form {
    max-width: 720px;
  }
  #block-damo-theme-assets-navigation {
    ul {
      max-width: 720px;
      text-align: center;
      li {
        padding: 12px 0;
        a{
          padding: 5px 20px;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .dam-local-task-extension-wrapper,
  .views-exposed-form {
    @include media-breakpoint-up(sm) {
      max-width: 540px;
    }
    width: 100%;
  }
}
*/
.usage-wrapper
{
    position: relative;
    z-index: 99;

    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    margin: 0 auto;
}

.usage-wrapper .control-wrapper
{
    margin-top: -44px;

    cursor: pointer;
    text-align: center;
}

.usage-wrapper .control-wrapper i
{
    font-size: 18px;

    position: relative;
    top: 4px;

    color: #a2a2a2;
}

.usage-wrapper .control-wrapper .control-title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    padding-left: 5px;

    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #a2a2a2;
}

.useage-overlay-wrapper
{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    -webkit-transition: opacity 2s ease-out;
            transition: opacity 2s ease-out;

    opacity: 0;
    background: rgba(0, 0, 0, .43);
}

.useage-overlay-wrapper.visible
{
    display: block;

    opacity: 1;
}

.useage-overlay-wrapper .overlay-content
{
    position: relative;
    top: 50%;

    width: 70%;
    margin: 0 auto;
    padding: 50px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);

    background: white;
    box-shadow: 4px 5px 11px -4px black;
}

.useage-overlay-wrapper .overlay-content span.close
{
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;

    opacity: .45;
    color: black;
}

#block-damo-theme-assets-navigation
{
    position: relative;
    z-index: 1;
    /*  margin-bottom: 30px;
  padding-top: 30px;*/
}

#block-damo-theme-assets-navigation ul
{
    /*    padding-left: 35px;
    max-width: 1140px;
    margin: 0 auto;*/
}

#block-damo-theme-assets-navigation ul li
{
    /*      a {
        @include fontArialBold;
        padding: 15px;
        font-size: 13px;
        margin-right: 5px;
        color: white;
        text-transform: uppercase;

        &.active {
          background: rgba(90, 202, 197, 0.1);
          border-radius: 30px;
        }
      }*/
}

/*@media (max-width: 991px) {
  #block-damo-theme-assets-navigation {
    padding-top: 0px;
  }
}*/
.facets-widget-links ul
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.facets-widget-links a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    font-weight: bold;
    font-style: normal;

    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-right: 6px;
    padding: 10px 15px;

    -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
    text-transform: uppercase;

    color: #000;
    border: 1px solid #d4d4d4;
    border-radius: 21px;

    font-optical-sizing: auto;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
            justify-content: center;
}

.facets-widget-links a:hover
{
    background-color: rgba(86, 86, 86, .2);
}

.facets-widget-links a.is-active
{
    color: #fff;
    background-color: #565656;
}

.facets-widget-links a .js-facet-deactivate
{
    display: none;
}

.dam-media-collection-link
{
    position: relative !important;

    background-color: rgba(76, 186, 198, .5) !important;
}

.collection-item-number-wrapper
{
    position: fixed !important;
    z-index: 2 !important;

    width: 15px !important;
    height: 10px !important;
    margin-left: 14px !important;
}
