@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');
/**
 * @file
 *** FOUNDATION FOR SITES AND CUSTOM MIXINS
 */
/**
 * @group Foundation for Sites mixins
 * Mixins placeholder file
 * @todo These are mostly from Foundation and should be removed and used straight from Foundation.
 */
.clearfix:before,
.clearfix:after
{
    display: table;

    content: ' ';
}

.clearfix:after
{
    clear: both;
}

/**
 * Horizontally or vertically aligns the items within a flex container.
 *
 * @param {Keyword} $x [null] - Horizontal alignment to use. Can be `left`,
 * `right`, `center`, `justify`, or `spaced`. Or, set it to `null`
 * (the default) to not set horizontal alignment.
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Vertically align a single column within a flex row. Apply this mixin to a
 * flex column.
 *
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Changes the source order of a flex child. Children with lower numbers appear
 * first in the layout.
 *
 * @param {Number} $order [0] - Order number to apply.
 */
/**
 * Change flex-direction
 *
 * @param {Keyword} $direction [row] - Flex direction to use. Can be
 * - row (default): same as text direction
 * - row-reverse: opposite to text direction
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse top to bottom
 */
/**
 * @include flex-wrap(nowrap | wrap | wrap-reverse);
 * Default: nowrap
 */
/**
 * @include flex-flow(values);
 * Default: row nowrap
 */
/**
 * @include order(int);
 * Default: 0
 */
/**
 * @include flex-grow(int);
 * Default: 1
 */
/**
 * @include flex-shrink(int);
 * Default: 0
 */
/**
 * @include flex-basis(int);
 * Default: auto
 */
/**
 * @include justify-content(flex-start | flex-end | center | space-between
 * | space-around);
 * Default: flex-start
 */
/**
 * @include align-items(flex-start | flex-end | center | baseline | stretch);
 * Default: stretch
 */
/**
 * @include align-self(auto | flex-start | flex-end | center | baseline | stretch);
 * Default: auto
 */
/**
 * @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);
 * Default: stretch
 */
.col-sm-12
{
    padding-bottom: 20px;

    background: #fff !important;
}

.region-content
{
    background: #fff;
}

.page-title-wrapper
{
    display: block;

    max-width: 1124px;
    margin: 0 auto;
}

.page-title-wrapper span
{
    font-size: 2.5rem;
}

.left-wrapper
{
    float: left;

    width: 70%;
}

.left-wrapper.images-wrapper
{
    position: relative;

    background: #e2e2e2;
}

.left-wrapper.images-wrapper .image
{
    display: none;
}

.left-wrapper.images-wrapper .image img
{
    position: relative;
    top: 0;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media (min-width: 992px)
{
    .left-wrapper.images-wrapper .image img
    {
        position: absolute;
        top: 50%;
        left: 50%;

        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        margin: 0 auto;

        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}

.left-wrapper.images-wrapper .image.active
{
    display: block;
}

.media-page-wrapper.non-image .left-wrapper
{
    min-height: 150px;
}

.media-page-wrapper.non-image .left-wrapper video,
.media-page-wrapper.non-image .left-wrapper img
{
    position: relative;
    left: 50%;

    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.media-page-wrapper .left-wrapper
{
    float: left;

    width: 70%;
}

@media (max-width: 991px)
{
    .media-page-wrapper .left-wrapper
    {
        float: none;

        width: 100%;
    }
    .media-page-wrapper .right-wrapper
    {
        float: none;

        width: 100%;
    }
}

.right-wrapper
{
    float: left;

    width: 30%;
}

.right-wrapper .top-controls
{
    padding: 15px 25px 15px;

    border-bottom: 1px solid #eee;
    background: #fff;
}

.right-wrapper .top-controls .disabled
{
    opacity: .4;
}

.right-wrapper .top-controls .media-title
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;

    word-break: break-all;
}

.right-wrapper .top-controls .controller
{
    display: block;

    padding: 0;
}

@media (min-width: 1200px)
{
    .right-wrapper .top-controls .controller
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}

@media (max-width: 991px)
{
    .right-wrapper .top-controls .controller
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display:         flex;
    }
}

@media (max-width: 767px)
{
    .right-wrapper .top-controls .controller
    {
        display: block;
    }
}

.right-wrapper .top-controls .controller .link
{
    display: none;
}

.right-wrapper .top-controls .controller .link a
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    padding: 15px;

    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #fdfefc;
    border: none;
    border-radius: 4px;
    background: #57b3af;
}

.right-wrapper .top-controls .controller .link a:hover
{
    background: #5acac5;
}

.right-wrapper .top-controls .controller .link span
{
    padding: 13px;

    border-radius: 30px;
}

.right-wrapper .top-controls .controller .link.active
{
    display: block;
}

.right-wrapper .image-controls
{
    padding: 25px;

    background-color: #fafafa;
}

.right-wrapper .image-controls .controller
{
    clear: both;
}

.right-wrapper .image-controls .controller.no-badge.inactive
{
    pointer-events: none;

    opacity: .4;
}

.right-wrapper .image-controls .controller:first-child
{
    padding-top: 0;
}

.right-wrapper .image-controls .controller .link
{
    display: block;
    display: list-item;

    width: 100%;
    width: -webkit-fit-content;
    width:    -moz-fit-content;
    width:         fit-content;
    margin-left: 15px;
    padding: 2px 20px;
    padding-left: 30px;

    list-style-position: inside;

    cursor: pointer;
    text-indent: -18px;

    border-radius: 2px;
}

.right-wrapper .image-controls .controller .link.active
{
    background: #eaeaea;
}

.right-wrapper .image-controls .controller.single
{
    padding-bottom: 10px;
}

.right-wrapper .image-controls .controller.single h4
{
    display: none;
}

.right-wrapper .image-controls .controller.single .link
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;

    display: block;
    float: left;

    margin-top: -12px;
    margin-left: 18px;
    padding: 2px 8px;

    text-indent: 0;
}

.field--label-inline,
.field--label-above
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;

    clear: both;
    overflow: hidden;

    max-width: 520px;
    padding-top: 20px;
    padding-left: 165px;

    color: #363636;
}

.field--label-inline .field__items .field--item,
.field--label-above .field__items .field--item
{
    font-weight: normal;

    float: left;

    padding-right: 5px;

    text-transform: none;
}

.field--label-inline .field__items .field--item a,
.field--label-above .field__items .field--item a
{
    color: #363636;
}

.field--label-inline .field__items .field--item:after,
.field--label-above .field__items .field--item:after
{
    content: ', ';
}

.field--label-inline .field__items .field--item:last-child:after,
.field--label-above .field__items .field--item:last-child:after
{
    content: '';
}

.field--label-inline .field--label,
.field--label-above .field--label
{
    float: left;

    width: 110px;
}

.field--label-inline .field__items,
.field--label-above .field__items
{
    float: left;

    max-width: 240px;
}

.field--name-field-focus-area .field--label,
.field--name-field-industry .field--label
{
    padding-right: 5px;
}

.field--name-field-focus-area .field--label:after,
.field--name-field-industry .field--label:after
{
    content: ':';
}

.title-wrapper
{
    position: relative;
}

.title-wrapper h4
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
}

.title-wrapper .icon
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;
    float: left;

    width: 15px;
    height: 15px;

    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.title-wrapper .icon i
{
    font-size: 18px;

    display: block;

    margin-top: -3px;

    color: #868686;
}

.title-wrapper .icon svg
{
    width: auto;
    height: 15px;
}

.title-wrapper .icon svg path
{
    fill: #8b8b8b;
}

.title-wrapper h4
{
    padding-left: 25px;

    text-transform: capitalize;
}

.right-wrapper .controller
{
    padding: 25px 0;
}

.usage-wrapper
{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (min-width: 768px)
{
    .usage-wrapper
    {
        float: left;

        margin-top: -81px;
        margin-left: 600px;
    }
}

.usage-wrapper.no-margin
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 165px;
}

.usage-wrapper.no-margin .control-wrapper
{
    margin-top: 0;
    padding-bottom: 0;
}

.usage-wrapper .control-wrapper
{
    margin-top: 0;
    padding-bottom: 0;
}

#filter-platform
{
    display: none;
}

header.navbar #block-damo-theme-assets-navigation
{
    margin-bottom: 0;
}

main .region-highlighted
{
    margin: 0;
}

.button-wrapper .button--green
{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 12px;

    padding: 15px;

    color: #fdfefc;
    border: none;
    border-radius: 4px;
    background: #68809a;
}

.button-wrapper .button--gray.disabled img
{
    display: none;

    color: #c1c1c1;
}

.button.disabled
{
    color: #c1c1c1;
    border-color: #eee;
    background: #eee;
}

#spotlight .footer
{
    display: none;
}

@media (max-width: 1670px)
{
    .dam-local-task-back-button,
    .dam-local-task-extension-wrapper
    {
        position: relative;
        top: 0 !important;
        left: 0;

        float: right;

        padding: 15px 0;

        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }
    .dam-local-task-back-button a,
    .dam-local-task-extension-wrapper a
    {
        display: inline-block;

        max-width: 175px;
        margin-right: 20px;
    }
    .dam-local-task-extension-wrapper
    {
        width: 400px;
    }
}

@media (max-width: 576px)
{
    .dam-local-task-back-button,
    .dam-local-task-extension-wrapper
    {
        float: none;

        margin: 0 auto;

        text-align: center;
    }
    .dam-local-task-extension-wrapper
    {
        width: auto;
    }
}
