@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700");
/**
 * @file
 *** FOUNDATION FOR SITES AND CUSTOM MIXINS
 */
/**
 * @group Foundation for Sites mixins
 * Mixins placeholder file
 * @todo These are mostly from Foundation and should be removed and used straight from Foundation.
 */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

/**
 * Horizontally or vertically aligns the items within a flex container.
 *
 * @param {Keyword} $x [null] - Horizontal alignment to use. Can be `left`,
 * `right`, `center`, `justify`, or `spaced`. Or, set it to `null`
 * (the default) to not set horizontal alignment.
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Vertically align a single column within a flex row. Apply this mixin to a
 * flex column.
 *
 * @param {Keyword} $y [null] - Vertical alignment to use. Can be `top`,
 * `bottom`, `middle`, or `stretch`. Or, set it to `null` (the default) to not
 * set vertical alignment.
 */
/**
 * Changes the source order of a flex child. Children with lower numbers appear
 * first in the layout.
 *
 * @param {Number} $order [0] - Order number to apply.
 */
/**
 * Change flex-direction
 *
 * @param {Keyword} $direction [row] - Flex direction to use. Can be
 * - row (default): same as text direction
 * - row-reverse: opposite to text direction
 * - column: same as row but top to bottom
 * - column-reverse: same as row-reverse top to bottom
 */
/**
 * @include flex-wrap(nowrap | wrap | wrap-reverse);
 * Default: nowrap
 */
/**
 * @include flex-flow(values);
 * Default: row nowrap
 */
/**
 * @include order(int);
 * Default: 0
 */
/**
 * @include flex-grow(int);
 * Default: 1
 */
/**
 * @include flex-shrink(int);
 * Default: 0
 */
/**
 * @include flex-basis(int);
 * Default: auto
 */
/**
 * @include justify-content(flex-start | flex-end | center | space-between
 * | space-around);
 * Default: flex-start
 */
/**
 * @include align-items(flex-start | flex-end | center | baseline | stretch);
 * Default: stretch
 */
/**
 * @include align-self(auto | flex-start | flex-end | center | baseline | stretch);
 * Default: auto
 */
/**
 * @include align-content(flex-start | flex-end | center | space-between | space-around | stretch);
 * Default: stretch
 */
.col-sm-12 {
  background: #ffffff !important;
  padding-bottom: 20px;
}

.region-content {
  background: #ffffff;
}

.page-title-wrapper {
  max-width: 1124px;
  margin: 0 auto;
  display: block;
}
.page-title-wrapper span {
  font-size: 2.5rem;
}

.left-wrapper {
  float: left;
  width: 70%;
}
.left-wrapper.images-wrapper {
  background: #e2e2e2;
  position: relative;
}
.left-wrapper.images-wrapper .image {
  display: none;
}
.left-wrapper.images-wrapper .image img {
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 992px) {
  .left-wrapper.images-wrapper .image img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.left-wrapper.images-wrapper .image.active {
  display: block;
}

.media-page-wrapper {
  display: flex;
}
.media-page-wrapper.non-image .left-wrapper {
  min-height: 150px;
}
.media-page-wrapper.non-image .left-wrapper video,
.media-page-wrapper.non-image .left-wrapper img {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}
.media-page-wrapper .left-wrapper {
  width: 70%;
}
@media (max-width: 991px) {
  .media-page-wrapper .left-wrapper {
    width: 100%;
  }
  .media-page-wrapper .right-wrapper {
    width: 100%;
  }
}

.right-wrapper {
  width: 30%;
}
.right-wrapper .top-controls {
  padding: 15px 25px 15px;
  background: #ffffff;
  border-bottom: 1px solid #EEEEEE;
}
.right-wrapper .top-controls .disabled {
  opacity: 0.4;
}
.right-wrapper .top-controls .media-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  word-break: break-all;
}
.right-wrapper .top-controls .controller {
  display: block;
  padding: 0px;
}
@media (min-width: 1200px) {
  .right-wrapper .top-controls .controller {
    display: flex;
  }
}
@media (max-width: 991px) {
  .right-wrapper .top-controls .controller {
    display: flex;
  }
}
@media (max-width: 767px) {
  .right-wrapper .top-controls .controller {
    display: block;
  }
}
.right-wrapper .top-controls .controller .link {
  display: none;
}
.right-wrapper .top-controls .controller .link a {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-size: 11px;
  background: #57b3af;
  border-radius: 4px;
  padding: 15px;
  color: #FDFEFC;
  border: none;
}
.right-wrapper .top-controls .controller .link a:hover {
  background: #5acac5;
}
.right-wrapper .top-controls .controller .link span {
  border-radius: 30px;
  padding: 13px;
}
.right-wrapper .top-controls .controller .link.active {
  display: block;
}
.right-wrapper .image-controls {
  padding: 25px;
  background-color: #FAFAFA;
}
.right-wrapper .image-controls .controller {
  clear: both;
}
.right-wrapper .image-controls .controller.no-badge.inactive {
  opacity: 0.4;
  pointer-events: none;
}
.right-wrapper .image-controls .controller:first-child {
  padding-top: 0px;
}
.right-wrapper .image-controls .controller .link {
  display: block;
  width: 100%;
  cursor: pointer;
  display: list-item;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2px 20px;
  list-style-position: inside;
  margin-left: 15px;
  border-radius: 2px;
  text-indent: -18px;
  padding-left: 30px;
}
.right-wrapper .image-controls .controller .link.active {
  background: #EAEAEA;
}
.right-wrapper .image-controls .controller.single {
  padding-bottom: 10px;
}
.right-wrapper .image-controls .controller.single h4 {
  display: none;
}
.right-wrapper .image-controls .controller.single .link {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  display: block;
  float: left;
  text-indent: 0;
  margin-left: 18px;
  padding: 2px 8px;
  margin-top: -12px;
}

.field--label-inline,
.field--label-above {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
  padding-left: 165px;
  padding-top: 20px;
  color: #363636;
  max-width: 520px;
  clear: both;
}
@media (max-width: 767px) {
  .field--label-inline,
  .field--label-above {
    padding-left: 20px;
  }
}
.field--label-inline .field__items .field--item,
.field--label-above .field__items .field--item {
  font-weight: normal;
  float: left;
  padding-right: 5px;
  text-transform: none;
}
.field--label-inline .field__items .field--item a,
.field--label-above .field__items .field--item a {
  color: #363636;
}
.field--label-inline .field__items .field--item:after,
.field--label-above .field__items .field--item:after {
  content: ", ";
}
.field--label-inline .field__items .field--item:last-child:after,
.field--label-above .field__items .field--item:last-child:after {
  content: "";
}
.field--label-inline .field--label,
.field--label-above .field--label {
  float: left;
  width: 110px;
}
.field--label-inline .field__items,
.field--label-above .field__items {
  float: left;
  max-width: 240px;
}

.field--name-field-focus-area .field--label,
.field--name-field-industry .field--label {
  padding-right: 5px;
}
.field--name-field-focus-area .field--label:after,
.field--name-field-industry .field--label:after {
  content: ":";
}

.title-wrapper {
  position: relative;
}
.title-wrapper h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
.title-wrapper .icon {
  float: left;
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.title-wrapper .icon i {
  color: #868686;
  font-size: 18px;
  margin-top: -3px;
  display: block;
}
.title-wrapper .icon svg {
  height: 15px;
  width: auto;
}
.title-wrapper .icon svg path {
  fill: #8B8B8B;
}
.title-wrapper h4 {
  padding-left: 25px;
  text-transform: capitalize;
}

.right-wrapper .controller {
  padding: 25px 0;
}

.usage-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .usage-wrapper {
    float: left;
    margin-top: -81px;
    margin-left: 600px;
  }
}
.usage-wrapper.no-margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 165px;
}
.usage-wrapper.no-margin .control-wrapper {
  padding-bottom: 0px;
  margin-top: 0px;
}
.usage-wrapper .control-wrapper {
  padding-bottom: 0px;
  margin-top: 0px;
}

#filter-platform {
  display: none;
}

header.navbar #block-damo-theme-assets-navigation {
  margin-bottom: 0px;
}
main .region-highlighted {
  margin: 0px;
}

.button-wrapper .button--green {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  font-weight: 700;
  font-style: normal;
  line-height: 12px;
  padding: 15px;
  color: #fdfefc;
  border: none;
  border-radius: 4px;
  background: #68809a;
}
.button-wrapper .button--gray.disabled img {
  display: none;
  color: #c1c1c1;
}

.button.disabled {
  background: #eeeeee;
  border-color: #eeeeee;
  color: #c1c1c1;
}

#spotlight .footer {
  display: none;
}

@media (max-width: 1670px) {
  .dam-local-task-back-button,
  .dam-local-task-extension-wrapper {
    position: relative;
    float: right;
    top: 0 !important;
    left: 0;
    transform: translateX(0);
    padding: 15px 0;
  }
  .dam-local-task-back-button a,
  .dam-local-task-extension-wrapper a {
    display: inline-block;
    max-width: 175px;
    margin-right: 20px;
  }
  .dam-local-task-extension-wrapper {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .dam-local-task-back-button,
  .dam-local-task-extension-wrapper {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .dam-local-task-extension-wrapper {
    width: auto;
  }
}
/*# sourceMappingURL=media_page.css.map */
