{#
/**
 * @file
 * Default theme implementation of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @ingroup templates
 *
 * @see template_preprocess_image()
 */
#}
{% set classes = [
  theme.settings.image_shape ? theme.settings.image_shape,
  theme.settings.image_responsive ? 'img-fluid',
] %}
{% if spotlight %}
  <div class="spotlight-group" data-player="false" data-theme="false" data-page="false" footer="false">
    <a href="{{ uri }}" class="spotlight">
      <img{{ attributes.addClass(classes) }} />
    </a>
  </div>
{% else %}
  <img{{ attributes.addClass(classes) }} />
{% endif %}