.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 50px;
  padding: 0 40px;
  flex-wrap: wrap;

  &__buttons {
    min-width: 340px;

    button {
      margin-right: 20px;
    }
  }

  &__title {
    font-family: "Montserrat";
    font-size: 24px;
    color: #000000;
    text-decoration: none solid rgb(0, 0, 0);
    line-height: 30px;
    margin-right: 20px;
    font-weight: 700;
  }

  &__placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #000000;
    text-decoration: none solid rgb(0, 0, 0);
    line-height: 30px;
    font-weight: 700;
    min-width: 340px;
  }

  .filters {
    &__select-all {
      background: transparent;
      color: #000000;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 14px;
      margin-left: 20px;
      text-decoration: none solid rgb(255, 255, 255);
      border: none;
      text-decoration: underline;
      cursor: pointer;
      min-width: 100px;

      &:focus {
        outline: 0;
      }
    }
  }

  &__button {
    background: transparent;
    color: #565656;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: none solid rgb(255, 255, 255);
    padding: 5px 16px;
    line-height: 30px;
    text-align: center;
    border: none;
    border-radius: 120px;
    cursor: pointer;
    border: 1px solid #d4d4d4;

    &:focus {
      outline: 0;
    }

    &--approve {
      border: none;
      background-color: #4cbac6;
      color: #ffffff;
    }
  }
}

.image {
  &__container {
    position: relative;
  }

  &__hover-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 0px solid #4cbac6;
    background: transparent;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      box-shadow: inset 0 0 0 3px #4cbac6;

      .details-button {
        opacity: 0.8;

        &:hover {
          opacity: 1;
        }
      }

      .checkmark-icon {
        opacity: 1;
        background: rgba(76, 186, 198, 0.4);
      }
    }

    .checkmark-icon {
      z-index: 100 !important;
      position: absolute !important;
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      transform: translateY(-50%);
      background: rgba(76, 186, 198, 0);
      border-radius: 100%;
      padding: 10px;
      opacity: 0;
      transition: all 0.2s linear;
    }

    .details-button {
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;

      position: absolute;
      bottom: 12px;
      right: 12px;
      display: inline-block;
      opacity: 0;
      background-color: #ffffff;
      border: none;
      border-radius: 25px;
      padding: 6px 6px;
      text-align: center;
      font-size: 14px;
      color: #6c6c6c;
      text-decoration: none;
      cursor: pointer;
      transition: all 0.2s linear;

      &:focus {
        outline: 0;
      }
    }
  }

  &--selected {
    & + .image__hover-layer {
      background: rgba(76, 186, 198, 0.4);
      box-shadow: inset 0 0 0 6px #4cbac6;

      .checkmark-icon {
        opacity: 1;
        background: rgba(76, 186, 198, 1);
      }

      &:hover {
        box-shadow: inset 0 0 0 6px #4cbac6;

        .checkmark-icon {
          opacity: 1;
          background: rgba(76, 186, 198, 1);
        }
      }
    }
  }
}

.popover {
  width: 100%;
  padding: 0 3px;
  position: absolute;
  top: 80%;
  z-index: 101;

  &__container {
    position: relative;
    width: 100%;
    min-height: 200px;
    padding: 30px 15px 15px 15px;
    overflow-wrap: break-word;
    background: #ffffff;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.25);

    .close-icon {
      position: absolute;
      top: 10px;
      right: 16px;
      cursor: pointer;
    }

    .info {
      &__name {
        font-family: "Montserrat";
        font-size: 17px;
        color: #000000;
        text-decoration: none solid rgb(0, 0, 0);
        font-weight: 700;
        margin-bottom: 10px;
      }
      &__filesize,
      &__created,
      &__filename,
      &__category,
      &__keywords {
        font-family: "Roboto", sans-serif;
        font-size: 14px;
        color: #565656;
        text-decoration: none solid rgb(86, 86, 86);
      }
      &__category,
      &__keywords {
        margin-top: 14px;
      }
    }
  }

  &__edit-asset {
    margin-top: 25px;
  }
}
