{#
/**
 * @file
 * Default theme implementation for an 'input__textfield' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - icon: An icon.
 * - input_group: Flag to display as an input group.
 * - icon_position: Where an icon should be displayed.
 * - prefix: Markup to display before the input element.
 * - suffix: Markup to display after the input element.
 * - type: The type of input.
 *
 * @ingroup templates
 *
 * @see \Drupal\bootstrap\Plugin\Preprocess\Input
 * @see template_preprocess_input()
 */
#}

{% extends "input.html.twig" %}

{% set classes = [
  'form-control',
] %}

{% block input %}
  {% apply spaceless %}
    {% if is_front %}
      <div class="search-wrapper">
        <input{{ attributes.addClass(classes) }} />
        <span class="svg-holder">
        <svg version="1.2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" overflow="visible" preserveAspectRatio="none" viewBox="0 0 30 30" height="28" width="28"><g transform="translate(1, 1)"><desc>Created with Sketch.</desc><defs><path id="path-1_1713444910427_171394784470111" d="M19.2797307,17.9821686 L24.9193907,23.6218286 C25.4054796,24.1079176 25.4054796,24.8960234 24.9193907,25.3821124 C24.4333018,25.8682013 23.6451959,25.8682013 23.159107,25.3821124 L17.4232621,19.6462675 C15.8666523,20.7178189 13.9851942,21.3443332 11.9587267,21.3443332 C6.59674501,21.3443332 2.25,16.9579923 2.25,11.5471666 C2.25,6.1363409 6.59674501,1.75 11.9587267,1.75 C17.3207084,1.75 21.6674534,6.1363409 21.6674534,11.5471666 C21.6674534,14.0101326 20.7668079,16.2608254 19.2797307,17.9821686 L19.2797307,17.9821686 Z M11.9587267,18.8322392 C15.9458413,18.8322392 19.1780363,15.5706011 19.1780363,11.5471666 C19.1780363,7.52373211 15.9458413,4.26209401 11.9587267,4.26209401 C7.97161211,4.26209401 4.7394171,7.52373211 4.7394171,11.5471666 C4.7394171,15.5706011 7.97161211,18.8322392 11.9587267,18.8322392 Z" vector-effect="non-scaling-stroke"/></defs><g fill-rule="evenodd" fill="none" stroke-width="1" stroke="none" id="_Glyphs-/-Tab-Bar-/-Search_1713444910427"><mask fill="white" id="mask-2_1713444910427" vector-effect="non-scaling-stroke"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#path-1_1713444910427_171394784470110" vector-effect="non-scaling-stroke"/></mask><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#path-1_1713444910427_171394784470111" fill-rule="nonzero" fill="#000000" id="Icon_1713444910427" vector-effect="non-scaling-stroke"/></g></g></svg>
        </span>
      </div>
    {% else %}
      <input{{ attributes.addClass(classes) }} />
    {% endif %}
  {% endapply %}
{% endblock %}
