// Regions
//
//
@import "../index";
@import "../include/mixin";

.footer {
  $footer-height: 100px;
  margin-top: 2 * $spacer;

  @include element('content') {
    border-top: 1px solid $brand-primary;
    font-size: $font-size-sm;
    color: color(grey);
  }

  @include element('item') {
    // @todo THIS IS SUCH A CRAP!! Try adding more stuff to the footer...
    line-height: $footer-height;

    @include modifier('logo') {
      display: inline-block;
      height: $footer-height;

      @include media-breakpoint-up(sm) {
        float: right;
      }
    }
  }

  .block {
    padding: $spacer 0;
  }

  .dropdown-menu {
    font-size: $font-size-sm;
  }

  a {
    color: color(grey);
    @include hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(sm) {
    text-align: left;
  }
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-lg;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.region-secondary-navigation {
  background-color: $lightgrey-bgr;
  padding: 7px 20px;
  margin-bottom: 20px;
  .region--inner {
    @include content-width();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .path-collections & {
    // background-color: $white;
    margin-top: 40px;
    margin-bottom: 43px;
    .region--inner {
      justify-content: flex-start;
    }
  }
}

/* .path-collection-view {
  main.container,
  footer.container {
    width: 100%;
  }
  .media_collection--buttons {
    max-width: 1300px;
    margin: 0 auto;;
  }
} */
.path-collections {
  .region-content {
    display: flex;
    flex-direction: column-reverse;
  }
}

